@import "tailwindcss";

html,body {
     background-color: #141414;
    background-image: url("/Sprinkle.svg");
    background-repeat: repeat;
    background-size: auto;
    animation: move 4s ease-in-out infinite alternate;
    overflow: hidden;
    scroll-behavior: smooth;
    will-change: background-position;
}

/*Navbar*/
nav{
    background-color: rgb(38, 34, 30);
}

/* Navbar items */
.win-search {
    background-color: rgb(48, 48, 47);
    cursor: pointer;
}
.win-search:hover {
    background-color: rgb(52, 52, 51);
}
.win-home:hover{
    background-color: rgb(48, 48, 47);
    border-radius: 5px;
}

/* Animation for background movement */
@keyframes move {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 400px;
    }
}

/* Media queries */
@media (max-width: 1023px) {

    nav{
       width: 95vw; 
       height: 12vh;             
        display: flex;
        position: fixed;          
        bottom: 20px;               
        left: 50%;              
        background-color: rgb(29, 27, 25);   
        transform: translateX(-50%); 
        justify-content: center;   
        align-items: center;       
        border-radius: 15px;   
    }

    html {
    height: 100%;           
    margin: 0;              
    border: 10px solid black;
    border-radius: 20px;   
    overflow: hidden;       
}

}