@import "tailwindcss";

html,body {
     background-color: #252423;
    background-image: url("/Sprinkle.svg");
    background-repeat: repeat;
    background-size: auto;
    animation: move 4s ease-out forwards;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    will-change: background-position;
}
p{
    font-family: 'General Sans', sans-serif;
}
/* Hero */
.hero-header{
    font-family: 'Array', sans-serif;
    animation: appear 2s forwards;
    color: #E08E45;
}
.hero-p1{
    animation: fromLeft 2s ease-out forwards;
     color: #f8f4a6;
}
.hero-p2{
    animation: fromRight 2s ease-out forwards;
     color: #f8f4a6;
}

/*Navbar*/
nav{
    background-color: rgb(38, 34, 30);
}

/* Navbar items */
.win-search {
    background-color: rgb(48, 48, 47);
    cursor: pointer;
}
button{
    cursor: pointer;
}
.win-search:hover {
    background-color: rgb(52, 52, 51);
}
.win-home:hover{
    background-color: rgb(48, 48, 47);
    border-radius: 5px;
}
.ios-search{
    background-color: rgb(48, 48, 47);
    cursor: pointer;
}
.ios-search:active{
    background-color: rgb(52, 52, 51);
    cursor: pointer;
}

/* Animations */
@keyframes move {
    0% {
        background-position: 1000px -1000px;
    }
    60%{
        background-position: -100px 100px;
    }
    100% {
        background-position: 0 0;
    }
   
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80%{
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fromLeft {
    0% {
        transform: translateX(-100dvw);
    }
    60%{
        transform: translate(1dvw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fromRight {
    0% {
        transform: translateX(100dvw);
    }
    60%{
        transform: translate(-1dvw);
    }
    100% {
        transform: translateX(0);
    }
}
/* Media queries */
@media (max-width: 1023px) {

    nav{
       width: 90dvw; 
       height: 12dvh;             
        display: flex;
        position: fixed;          
        bottom: 5dvh;               
        left: 50%;              
        background-color: rgb(48, 44, 41);   
        transform: translateX(-50%); 
        justify-content: center;   
        align-items: center;       
        border-radius: 15px;   
    }

    html {
    height: 100%;           
    margin: 0;              
    border: 10px solid black; 
    overflow-x: hidden;       
}
    

}