---
import Layout from '../layouts/layout.astro';
---
<Layout title="Dubem's Portfolio">
    <div class="flex relative flex-col h-[92dvh] max-lg:h-[80dvh]">
        <header class="hero-header text-[8rem] max-lg:text-[5rem] max-sm:text-[4rem] text-center whitespace-normal break-words">Hi, I'm Chidubem</header>
        <p class="hero-p1 text-center text-[1.5rem] max-md:text-[1.3rem] max-sm:text-[1.25rem] whitespace-normal break-words">A Freelance Full-Stack Web Developer</p>
        <br>
        <p class="hero-p2 text-center text-[1.5rem] max-md:text-[1.3rem] max-sm:text-[1.25rem] whitespace-normal break-words">I turn your ideas into modern, production ready SEO-optimized web applications.</p>
    </div>
</Layout>
