---
import Layout from '../layouts/layout.astro';
---
<Layout title="Dubem's Portfolio">
    <div class="flex flex-col mt-[15vh]">
        <header class="hero-header text-white text-[9rem] max-md:text-[5rem] max-sm:text-[4rem] text-center text-wrap">Hi, I'm Chidubem</header>
        <p class="hero-p1 text-white text-center text-[1.5rem] max-md:text-[1.3rem] max-sm:text-[1.25rem]">A Freelance Front-end Web Developer.</p>
        <br>
        <p class="hero-p2 text-white text-center text-[1.5rem] max-md:text-[1.3rem] max-sm:text-[1.25rem]">I turn your ideas into modern, production ready SEO-optimized web applications.</p>
    </div>
</Layout>

